
.footer {
  background-color: #121212;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  
}

.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
