.container {
  max-width: 600px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  border-top: 50px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm div {
  margin-bottom: 15px;
}

.contactForm label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.contactForm input,
.contactForm textarea {
  padding: 10px;
  border: 1px;
  border-radius: 4px;
}

.button {   
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}
